<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alfa_romeo</key>
	<integer>0</integer>
	<key>audi</key>
	<integer>1</integer>
	<key>bmw</key>
	<integer>2</integer>
	<key>chevrolet</key>
	<integer>3</integer>
	<key>chrysler</key>
	<integer>4</integer>
	<key>citroen</key>
	<integer>5</integer>
	<key>dacia</key>
	<integer>6</integer>
	<key>daewoo</key>
	<integer>7</integer>
	<key>daihatsu</key>
	<integer>8</integer>
	<key>fiat</key>
	<integer>9</integer>
	<key>ford</key>
	<integer>10</integer>
	<key>honda</key>
	<integer>11</integer>
	<key>hyundai</key>
	<integer>12</integer>
	<key>jaguar</key>
	<integer>13</integer>
	<key>jeep</key>
	<integer>14</integer>
	<key>kia</key>
	<integer>15</integer>
	<key>lada</key>
	<integer>16</integer>
	<key>lancia</key>
	<integer>17</integer>
	<key>land_rover</key>
	<integer>18</integer>
	<key>mazda</key>
	<integer>19</integer>
	<key>mercedes_benz</key>
	<integer>20</integer>
	<key>mini</key>
	<integer>21</integer>
	<key>mitsubishi</key>
	<integer>22</integer>
	<key>nissan</key>
	<integer>23</integer>
	<key>opel</key>
	<integer>24</integer>
	<key>peugeot</key>
	<integer>25</integer>
	<key>porsche</key>
	<integer>26</integer>
	<key>renault</key>
	<integer>27</integer>
	<key>rover</key>
	<integer>28</integer>
	<key>saab</key>
	<integer>29</integer>
	<key>seat</key>
	<integer>30</integer>
	<key>skoda</key>
	<integer>31</integer>
	<key>smart</key>
	<integer>32</integer>
	<key>subaru</key>
	<integer>33</integer>
	<key>suzuki</key>
	<integer>34</integer>
	<key>toyota</key>
	<integer>35</integer>
	<key>trabant</key>
	<integer>36</integer>
	<key>volkswagen</key>
	<integer>37</integer>
	<key>volvo</key>
	<integer>38</integer>
</dict>
</plist>
