<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alfa_romeo</key>
	<array>
		<string>145</string>
		<string>147</string>
		<string>156</string>
		<string>159</string>
		<string>andere</string>
		<string>spider</string>
	</array>
	<key>audi</key>
	<array>
		<string>100</string>
		<string>200</string>
		<string>80</string>
		<string>90</string>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
		<string>a5</string>
		<string>a6</string>
		<string>a8</string>
		<string>andere</string>
		<string>q3</string>
		<string>q5</string>
		<string>q7</string>
		<string>tt</string>
	</array>
	<key>bmw</key>
	<array>
		<string>1er</string>
		<string>3er</string>
		<string>5er</string>
		<string>6er</string>
		<string>7er</string>
		<string>andere</string>
		<string>i3</string>
		<string>m_reihe</string>
		<string>x_reihe</string>
		<string>z_reihe</string>
	</array>
	<key>chevrolet</key>
	<array>
		<string>andere</string>
		<string>aveo</string>
		<string>captiva</string>
		<string>matiz</string>
		<string>spark</string>
	</array>
	<key>chrysler</key>
	<array>
		<string>300c</string>
		<string>andere</string>
		<string>crossfire</string>
		<string>grand</string>
		<string>ptcruiser</string>
		<string>voyager</string>
	</array>
	<key>citroen</key>
	<array>
		<string>andere</string>
		<string>berlingo</string>
		<string>c1</string>
		<string>c2</string>
		<string>c3</string>
		<string>c4</string>
		<string>c5</string>
	</array>
	<key>dacia</key>
	<array>
		<string>andere</string>
		<string>duster</string>
		<string>lodgy</string>
		<string>logan</string>
		<string>sandero</string>
	</array>
	<key>daewoo</key>
	<array>
		<string>andere</string>
		<string>kalos</string>
		<string>lanos</string>
		<string>matiz</string>
		<string>nubira</string>
	</array>
	<key>daihatsu</key>
	<array>
		<string>andere</string>
		<string>charade</string>
		<string>cuore</string>
		<string>materia</string>
		<string>move</string>
		<string>sirion</string>
		<string>terios</string>
	</array>
	<key>fiat</key>
	<array>
		<string>500</string>
		<string>andere</string>
		<string>bravo</string>
		<string>croma</string>
		<string>doblo</string>
		<string>ducato</string>
		<string>panda</string>
		<string>punto</string>
		<string>seicento</string>
		<string>stilo</string>
	</array>
	<key>ford</key>
	<array>
		<string>andere</string>
		<string>b_max</string>
		<string>c_max</string>
		<string>escort</string>
		<string>fiesta</string>
		<string>focus</string>
		<string>fusion</string>
		<string>galaxy</string>
		<string>ka</string>
		<string>kuga</string>
		<string>mondeo</string>
		<string>mustang</string>
		<string>s_max</string>
		<string>transit</string>
	</array>
	<key>honda</key>
	<array>
		<string>accord</string>
		<string>andere</string>
		<string>civic</string>
		<string>cr_reihe</string>
		<string>jazz</string>
	</array>
	<key>hyundai</key>
	<array>
		<string>andere</string>
		<string>getz</string>
		<string>i_reihe</string>
		<string>santa</string>
		<string>tucson</string>
	</array>
	<key>jaguar</key>
	<array>
		<string>andere</string>
		<string>s_type</string>
		<string>x_type</string>
	</array>
	<key>jeep</key>
	<array>
		<string>andere</string>
		<string>cherokee</string>
		<string>grand</string>
		<string>wrangler</string>
	</array>
	<key>kia</key>
	<array>
		<string>andere</string>
		<string>carnival</string>
		<string>ceed</string>
		<string>picanto</string>
		<string>rio</string>
		<string>sorento</string>
		<string>sportage</string>
	</array>
	<key>lada</key>
	<array>
		<string>andere</string>
		<string>kalina</string>
		<string>niva</string>
		<string>samara</string>
	</array>
	<key>lancia</key>
	<array>
		<string>andere</string>
		<string>delta</string>
		<string>elefantino</string>
		<string>kappa</string>
		<string>lybra</string>
		<string>musa</string>
		<string>ypsilon</string>
	</array>
	<key>land_rover</key>
	<array>
		<string>andere</string>
		<string>defender</string>
		<string>discovery</string>
		<string>discovery_sport</string>
		<string>freelander</string>
		<string>range_rover</string>
		<string>range_rover_evoque</string>
		<string>range_rover_sport</string>
		<string>serie_2</string>
		<string>serie_3</string>
	</array>
	<key>mazda</key>
	<array>
		<string>1_reihe</string>
		<string>3_reihe</string>
		<string>5_reihe</string>
		<string>6_reihe</string>
		<string>andere</string>
		<string>cx_reihe</string>
		<string>mx_reihe</string>
		<string>rx_reihe</string>
	</array>
	<key>mercedes_benz</key>
	<array>
		<string>andere</string>
		<string>a_klasse</string>
		<string>b_klasse</string>
		<string>cl</string>
		<string>clk</string>
		<string>c_klasse</string>
		<string>e_klasse</string>
		<string>gl</string>
		<string>glk</string>
		<string>g_klasse</string>
		<string>m_klasse</string>
		<string>sl</string>
		<string>slk</string>
		<string>sprinter</string>
		<string>s_klasse</string>
		<string>viano</string>
		<string>vito</string>
		<string>v_klasse</string>
	</array>
	<key>mini</key>
	<array>
		<string>andere</string>
		<string>clubman</string>
		<string>cooper</string>
		<string>one</string>
	</array>
	<key>mitsubishi</key>
	<array>
		<string>andere</string>
		<string>carisma</string>
		<string>colt</string>
		<string>galant</string>
		<string>lancer</string>
		<string>outlander</string>
		<string>pajero</string>
	</array>
	<key>nissan</key>
	<array>
		<string>almera</string>
		<string>andere</string>
		<string>juke</string>
		<string>micra</string>
		<string>navara</string>
		<string>note</string>
		<string>primera</string>
		<string>qashqai</string>
		<string>x_trail</string>
	</array>
	<key>opel</key>
	<array>
		<string>agila</string>
		<string>andere</string>
		<string>antara</string>
		<string>astra</string>
		<string>calibra</string>
		<string>combo</string>
		<string>corsa</string>
		<string>insignia</string>
		<string>kadett</string>
		<string>meriva</string>
		<string>omega</string>
		<string>signum</string>
		<string>tigra</string>
		<string>vectra</string>
		<string>vivaro</string>
		<string>zafira</string>
	</array>
	<key>peugeot</key>
	<array>
		<string>1_reihe</string>
		<string>2_reihe</string>
		<string>3_reihe</string>
		<string>4_reihe</string>
		<string>5_reihe</string>
		<string>andere</string>
	</array>
	<key>porsche</key>
	<array>
		<string>911</string>
		<string>andere</string>
		<string>boxster</string>
		<string>cayenne</string>
	</array>
	<key>renault</key>
	<array>
		<string>andere</string>
		<string>clio</string>
		<string>espace</string>
		<string>kangoo</string>
		<string>laguna</string>
		<string>megane</string>
		<string>modus</string>
		<string>r19</string>
		<string>scenic</string>
		<string>twingo</string>
	</array>
	<key>rover</key>
	<array>
		<string>andere</string>
		<string>defender</string>
		<string>discovery</string>
		<string>freelander</string>
		<string>rangerover</string>
	</array>
	<key>saab</key>
	<array>
		<string>900</string>
		<string>9000</string>
		<string>andere</string>
	</array>
	<key>seat</key>
	<array>
		<string>alhambra</string>
		<string>altea</string>
		<string>andere</string>
		<string>arosa</string>
		<string>cordoba</string>
		<string>exeo</string>
		<string>ibiza</string>
		<string>leon</string>
		<string>mii</string>
		<string>toledo</string>
	</array>
	<key>skoda</key>
	<array>
		<string>andere</string>
		<string>citigo</string>
		<string>fabia</string>
		<string>octavia</string>
		<string>roomster</string>
		<string>superb</string>
		<string>yeti</string>
	</array>
	<key>subaru</key>
	<array>
		<string>andere</string>
		<string>forester</string>
		<string>impreza</string>
		<string>justy</string>
		<string>legacy</string>
	</array>
	<key>suzuki</key>
	<array>
		<string>andere</string>
		<string>grand</string>
		<string>jimny</string>
		<string>swift</string>
	</array>
	<key>toyota</key>
	<array>
		<string>andere</string>
		<string>auris</string>
		<string>avensis</string>
		<string>aygo</string>
		<string>corolla</string>
		<string>rav</string>
		<string>verso</string>
		<string>yaris</string>
	</array>
	<key>trabant</key>
	<array>
		<string>601</string>
		<string>andere</string>
	</array>
	<key>volkswagen</key>
	<array>
		<string>amarok</string>
		<string>andero</string>
		<string>beetle</string>
		<string>bora</string>
		<string>caddy</string>
		<string>cc</string>
		<string>eos</string>
		<string>fox</string>
		<string>golf</string>
		<string>jetta</string>
		<string>kaefer</string>
		<string>lupo</string>
		<string>passat</string>
		<string>phaeton</string>
		<string>polo</string>
		<string>scirocco</string>
		<string>sharan</string>
		<string>tiguan</string>
		<string>touareg</string>
		<string>touran</string>
		<string>transporter</string>
		<string>up</string>
	</array>
	<key>volvo</key>
	<array>
		<string>850</string>
		<string>andere</string>
		<string>c_reihe</string>
		<string>s60</string>
		<string>v40</string>
		<string>v50</string>
		<string>v60</string>
		<string>v70</string>
		<string>xc_reihe</string>
	</array>
</dict>
</plist>
